<h2 class="mb-3">Customers</h2>

<div class="table-responsive border-0 rounded">
  <table class="table table-borderless">
    <thead class="table-light fs-5">
      <tr>
        <th class="w-50 ps-3">Name</th>
        <th class="w-25">Orders</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td class="align-middle ps-3"><%= link_to customer.full_name, customer_path(customer), class: "text-decoration-none" %></td>
          <td class="align-middle"><%= link_to customer.orders.count, customer_path(customer), class: "text-decoration-none" %></td>
          <td class="align-middle" style="width: 5%;"><%= button_to "Edit", edit_customer_path(customer), method: :get, class: "btn btn-warning btn-sm" %></td>
          <td class="align-middle pe-3" style="width: 5%;"><%= button_to "Delete", customer_path(customer), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm delete-btn" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New customer", new_customer_path, class: "btn btn-success" %>
