<h2 class="mb-3">
  <span class="me-1"><%= icon('fa-solid', 'users')%></span>
  Customers
</h2>

<div class="table-responsive border-0 rounded">
  <table class="table table-borderless">
    <thead class="table-light fs-5">
      <tr>
        <th class="w-50 ps-3">Name</th>
        <th class="w-25">Orders</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td class="align-middle ps-3">
            <%= link_to customer_path(customer), class: "d-inline-flex align-items-center" do %>
              <span class="me-2"><%= icon('fa-solid', 'user')%></span>
              <%= customer.full_name.titleize %>
            <% end %>
          </td>
          <td class="align-middle">
            <%= link_to customer_path(customer), class: "d-inline-flex align-items-center" do %>
              <span class="me-2"><%= icon('fa-solid', 'receipt')%></span>
              <%= customer.orders.count %>
            <% end %>
          </td>
          <td class="t-btn"<%= button_to "Edit", edit_customer_path(customer), method: :get, class: "btn btn-warning btn-sm" %></td>
          <td class="t-btn pe-3"><%= button_to "Delete", customer_path(customer), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm delete-btn" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= button_to "Create Customer", new_customer_path, class: "btn btn-success", method: :get %>
