<h2 class="mb-3">
  <span class="me-1"><%= icon('fa-solid', 'user')%></span>
  <%= @customer.full_name.titleize %>
</h2>

<div class="d-flex">
  <p class="me-4">
    <span class="me-1"><%= icon('fa-solid', 'phone')%></span> 
    <%= @customer.phone %>
  </p>

  <p>
    <span class="me-1"><%= icon('fa-solid', 'envelope')%></span> 
    <%= @customer.email %>
  </p>
</div>

<div class="mb-3 d-flex gap-3">
  <%= button_to "Edit", edit_customer_path(@customer), method: :get, class: "btn btn-warning" %>
  <%= button_to "All Customers", customers_path, method: :get, class: "btn btn-primary" %>
  <%= button_to "Delete", @customer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</div>

<div class="border-top border-secondary border-5 mt-4 pt-3">
  <h4 class="mb-3">
    <span class="me-1"><%= icon('fa-solid', 'shopping-cart')%></span>
    Orders
  </h4>

  <% if @customer.orders.any? %>
    <div class="table-responsive border-0 rounded">
      <table class="table table-borderless">
        <thead class="table-light">
          <tr>
            <th class="w-50 ps-3">Product</th>
            <th class="w-25">Quantity</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <% @customer.orders.each do |order| %>
            <tr>
              <td class="align-middle ps-3">
                <a href="<%= order_path(order) %>">
                  <span class="me-1"><%= icon('fa-solid', 'receipt')%></span>
                  <%= order.product_name.titleize %>
                </a>
              </td>
              <td class="align-middle">
                <%= link_to order_path(order), class: "d-inline-flex align-items-center" do %>
                  <span class="me-2"><%= icon('fa-solid', 'star') %></span>
                  <%= order.product_count %>
                <% end %>
              </td>
              <td class="t-btn">
                <%= button_to 'Edit', edit_order_path(order), method: :get, class: 'btn btn-warning btn-sm' %>
              </td>
              <td class="t-btn pe-3">
                <%= button_to 'Delete', order_path(order), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p>No orders found.</p>
  <% end %>
</div>
