<p style="color: green"><%= notice %></p>

<h2>Full name: <%= @customer.full_name %></h2>
<p><strong>Phone:</strong> <%= @customer.phone %></p>
<p><strong>Email:</strong> <%= @customer.email %></p>

<div>
  <%= link_to "Edit this customer", edit_customer_path(@customer) %> |
  <%= link_to "Back to customers", customers_path %>

  <%= button_to "Destroy this customer", @customer, method: :delete, data: { confirm: 'Are you sure?' }, class: "button danger" %>
</div>

<h2>Orders</h2>

<% if @customer.orders.any? %>
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <% @customer.orders.each do |order| %>
        <tr>
          <td><%= order.product_name %></td>
          <td><%= order.product_count %></td>
          <td><%= button_to 'Show', order_path(order), method: :get %></td>
          <td><%= button_to 'Edit', edit_order_path(order), method: :get %></td>
          <td><%= button_to 'Delete', order_path(order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>This customer has no orders.</p>
<% end %>
