<%= form_with(model: order, local: true, class: "mb-3") do |form| %>
  <% if order.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :customer_id, "Customer", class: "form-label" %>
    <div class="dropdown customer">
      <button class="btn btn-light dropdown-toggle customer w-100 d-flex justify-content-between align-items-center" type="button" id="customerDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        <%= @selected_customer_name || "Select Customer" %>
      </button>
      <ul class="dropdown-menu w-100" aria-labelledby="customerDropdown">
        <% Customer.all.each do |customer| %>
          <li><a class="dropdown-item" href="#" data-value="<%= customer.id %>"><%= customer.full_name.titleize %></a></li>
        <% end %>
      </ul>
      <%= form.hidden_field :customer_id, id: "hiddenCustomerId" %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :product_name, "Product", class: "form-label" %>
    <%= form.text_field :product_name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :product_count, "Quantity", class: "form-label" %>
    <%= form.number_field :product_count, value: order.product_count || 1, min: 1, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Save", class: "btn btn-success" %>
  </div>
<% end %>
