<h2 class="mb-3">Order #<%= order.id %></h2>

<div class="card border-0 mt-3" id="<%= dom_id(order) %>">
  <div class="card-header bg-info fw-bold fs-5 border-0">
    <%= link_to order.product_name, order_path(order) %>
  </div>
  <div class="card-body bg-light mb-3 d-flex justify-content-between">
    <p class="card-text mb-0">
      <span class="me-1">
        <%= icon('fa-solid', 'user') %>
      </span>
      <%= link_to order.customer.full_name, customer_path(order.customer) %>
    </p>
    <p class="card-text mb-0">
      <span class="me-1">
        <%= icon('fa-solid', 'star') %>
      </span>
      <%= order.product_count %>
    </p>
  </div>
</div>
