<h2 class="mb-1">
  <span class="me-2"><%= icon('fa-solid', 'shopping-cart') %></span>
  Orders
</h2>

<div class="container-fluid p-0">
  <div class="row">
    <% @orders.each do |order| %>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card border-0 mt-3">
          <div class="card-header bg-info fw-bold fs-5 border-0">
            <%= link_to order_path(order), class: "d-inline-flex align-items-center" do %>
              <span class="me-2"><%= icon('fa-solid', 'receipt') %></span>
              <%= order.product_name.titleize %>
            <% end %>
          </div>
          <div class="card-body bg-light d-flex justify-content-between">
            <p class="card-text mb-0">
              <%= link_to customer_path(order.customer), class: "d-inline-flex align-items-center" do %>
                <span class="me-2"><%= icon('fa-solid', 'user') %></span>
                <%= order.customer.full_name.titleize %>
              <% end %>
            </p>
            <p class="card-text mb-0">
              <%= link_to order_path(order), class: "d-inline-flex align-items-center" do %>
                <span class="me-2"><%= icon('fa-solid', 'star') %></span>
                <%= order.product_count %>
              <% end %>
            </p>
          </div>
          <div class="card-footer border-0 d-flex justify-content-end gap-3 bg-info">
            <%= button_to "Edit", edit_order_path(order), method: :get, class: "btn btn-warning btn-sm" %>
            <%= button_to "Delete", order_path(order), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= button_to "Create Order", new_order_path, method: :get, class: "btn btn-success mt-3" %>
